@model Icon

<div>
    <div>
        <h4>ImageIcon</h4>
        <i>@Model.IconImage</i>
    </div>
    <div>
        <h4>Title</h4>
        <p>@Model.Title</p>
    </div>
    <div>
        <h4>Subtitle</h4>
        <p>@Model.Subtitle</p>
    </div>
   
</div>